/* Загальні стилі для контейнера */
.holder {
    display: flex; 
    flex-wrap: wrap; 
    width: 800px; 
    height: 500px; 
    border-radius: 25px 25px 0 0; 
    border: 5px solid black;
    overflow: hidden; 
    font-family: Arial, sans-serif; 
}

/* Загальні стилі для всіх блоків */
.item {
    height: 50%; 
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 6rem; 
    font-weight: bold; 
}

/* Блок 1 */
.item:nth-child(1) {
    background-color: #e76e55;
    flex-basis: 50%; 
    order: 1; 
}

/* Блок 2 */
.item:nth-child(2) {
    background-color: #5995d4;
    flex-grow: 4; 
    order: 4; 
}

/* Блок 3 */
.item:nth-child(3) {
    background-color: #6b3f8d;
    flex-grow: 3;
    order: 3;
}

/* Блок 4 */
.item:nth-child(4) {
    background-color: #2f7e2f;
    flex-grow: 3;
    order: 5;
}

/* Блок 5 */
.item:nth-child(5) {
    background-color: #f0a72b;
    flex-basis: 50%;
    order: 2; 
}